* {
    margin: 0;
}

body {
    font-family: Inter;
    background: rgb(187, 185, 185);
}

.calculator {
    display: flex;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    width: auto;
}

.container-calculator {
    display: flex;
    flex-direction: column;
}

.container-answer {
    background: #f4b4b2;
    height: 100px;
    border-radius: 20px 20px 0 0;
    border: 1px solid #180909;
}

.container-buttons {
    background:  #eeeaea;
    min-height: min-content;
    border-radius: 0 0 20px 20px;
    border: 1px solid #180909;
    padding: 10px 10px 10px 10px;
}

span {
    display: block;
    margin: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 35px;
}

    .button {
        border-radius: 50px;
        width: 60px;
        height: 60px;
        background: #ad5757;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }

    .button:hover{
        background: #ff66b2;
    }
    i {
       color: #ce2626;
    }

@media only screen and (max-width: 375px){

}

    