* {
    margin: 0;
}

body {
    font-family: Inter;
}

.container {
    height: 100vh;
    background: linear-gradient(to right, #ff99cc 50%, #ff66b2 50%);

}

.calculator {
    display: flex;
    padding: 130px 50px;
    justify-content: center;
    align-items: center;

}

.answer {
    height: 740px;
    width: 100%;
    border-radius: 70px;
    margin: 0 650px;
    background: linear-gradient(to bottom, #f4b4b2 30%, #ffffff 30%, #ffffff 100%);
    /* background: linear-gradient(to bottom, #ff99cc 30%, #ff66b2 30%, #ff66b2 100%); */
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 310px 10px; 
    justify-items: center; /* Horizontally centers all children */
    align-items: center;
}

    .button {
        border-radius: 50px;
        width: 60px;
        height: 60px;
        background: #ad5757;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button:hover{
        background: #ff66b2;
    }
    i {
       color: #ce2626;
    }

#numbers {
    position: absolute;
    margin: 20px 0 0 auto;
    padding: 100px 25px;
    font-size: 25px;
}

#answer {
    position: absolute;
    margin: 20px 0 0 auto;
    padding: 140px 30px;
    font-size: 30px;  
}

@media (max-width: 575.98px) {
    /* Styles for extra small devices */
    .calculator {
        flex-wrap: nowrap;
        flex-direction: column;
        padding: 130px 50px;
    }
    
    .answer {
        height: 740px;
        width: 100%;
        border-radius: 70px;
        margin: 0 650px;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* Styles for small devices */
    .answer {
        margin: 0;
        padding: 50px;
    }

    .calculator {
        padding: 50px 40px;
    }

    .button {
        margin: 10px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* Styles for medium devices */
    .answer {
        margin: 0;
        padding: 50px;
    }

    .calculator {
        padding: 70px 220px;
    }

    .button {
        margin: 5px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Styles for large devices */
    .calculator {
        padding: 80px 150px;
    }
    
    .answer {
        height: 740px;
        width: 100%;
        border-radius: 70px;
        padding: 30px 10px;
    }

    .button {
        margin: 5px;
    }

}


    